/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 /* General Styles */

 html {
   font-size: 16px;
 }

 body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1em;
   text-align: left;
   color: #e2e3ed;
 }

 ul,
 ol {
   list-style-type: none;
 }

 a {
  color: #e2e3ed;
  text-decoration: none;
 }

 h1{
   font-family: 'Poppins', sans-serif;
   font-size: 2.25em;
   font-weight: normal;
   margin-top: 50px;
  }

 h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.875em;
   font-weight: normal;
   margin-top: 50px;
  }

 h3,
 h4 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.125em;
   font-weight: normal;
  }

 p {
   font-size: 0.875em;
   line-height: 1.125em;
 }

 img {
   width: 100%;
   height: auto;
 }

 figure {
   margin: 0;
 }

 address {
   font-family: 'Open Sans', sans-serif;
 }

.content-wrapper {
  width: 90%;
  margin: 0 20px 0 20px;
}

/* ------------------ BASE HEADER/FOOTER STYLES -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
}

header{
  padding: 15px 0;
}

header figure{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.header-divider {
  background-image: url('../img/nav divider.png');
  width: 100%;
  height: 1px;
  margin: 10px 0 10px 0;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}

header nav ul{
  display: flex;
  justify-content: space-around;
  flex-basis: 60%;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .copyright{
  margin-top: 50px;
}

.footer-content h4{
  width: 100%;
  font-style: normal;
  text-align: center;
  margin: 50px 0 20px 0;
}

.footer-content p{
  text-align: center;
  font-style: normal;
  margin-top: 0;
}

address.contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.social{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ------------------ MOBILE STYLES: HOMEPAGE -------------------- */

/** Hero Area **/

.hero-area{
  background: url(../img/jake-melara-30679-unsplash-mob.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 500px;
  overflow: hidden;
}

.contentwrapper h1{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/** Aside **/

aside{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 0 55px 0;
  background-color: #527158;
}

/* FEATURES */

.features{
  background: url(../img/rawpixel-800820-unsplash.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features .content-wrapper{
  padding-bottom: 30px;
}

.features p{
  margin: 0;
}

.features article{
  width: 62%;
  padding: 30px 0;
  margin: 0;
}

.features-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.fontawesome-icon{
  width: 35%;
  margin-bottom: 35px;
}

/* REVIEWS */

.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
  padding: 50px 0 30px 0;
}

.reviews article{
  width: 90%;
}

.reviews h2{
  width: 90%;
  margin-top: 0;
}

/* ------------------ MOBILE STYLES: ABOUT -------------------- */

.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
  padding-bottom: 30px;
}

.mission-content{
  width: 90%;
}

.map figure{
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** CONTACT SECTION **/

.contact-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  background-color: #2a423a;
  padding-bottom: 30px;
}

.contact-section h1{
  width: 90%;
}

/* ------------------ MOBILE STYLES: FAQ -------------------- */

.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
  padding-bottom: 30px;
}

.faq h2{
  margin: 50px 0 0 0;
}

.faq.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-content{
  padding-top: 25px;
}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #babbc2;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width: 768px){
  /** TABLET STYLES **/

  /* ==========================================================================
  HOME PAGE
  ===========================================================================*/

  /*General Styles */

  .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    flex-basis: 80%;
  }

  h1{
    margin-top: 90px;
  }

  /* Header */

  header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  header .content-wrapper{
    display: flex;
    justify-content: space-between;
    flex-basis; 85%;
    margin-left: 20px;
    flex-basis: 80%;
    padding-left: 45px;
  }

  .header-divider {
    display: none;
  }

  header figure{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  header nav{
    display: flex;
    width: 25%;
  }

  header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  header nav ul li{
    font-size: 1em;
    padding-left: 38px;
  }

  /** Hero Area **/

  .hero-area{
    background: url(../img/jake-melara-30679-unsplash-tablet.jpg) center no-repeat #333;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 600px;
    overflow: hidden;
  }

  /**Aside **/

  aside .content-wrapper {
    flex-basis: 80%;
    margin: 43px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-left: 45px;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 265px;
    margin: 0;
  }

  aside h3{
    width: 90%;
  }

/** Features **/

  .features .content-wrapper{
    display: flex;
  }

  .features h2{
    padding-left: 30px;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 33%;
    padding: 20px 40px 20px 40px;
    margin: 0;
    }

  .fontawesome-icon{
    display: flex;
    justify-content: center;
    width: 100%;
  }

/** Reviews **/

  .reviews{
    padding-top: 100px;
  }

  .reviews article{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .reviews article div{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin-right: 15px;
  }

  .reviews h3{
    width: 100%;
    margin: 0;
  }

/** Footer **/

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 30px;
    }

  footer .contact {
    margin-bottom: 0;
    }

  footer .copyright {
    width: 195px;
    }

  h4{
    width: 50%;
  }

  footer .social h4{
    margin-top: 25px;
  }

/* ============================================================================
  ABOUT PAGE
  ============================================================================*/

  .mission {
    padding-top: 40px;
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 70px;
  }

  .mission-content p {
    width: 50%;
    padding-right: 40px;
  }

  .contact-section .content-wrapper h1{
    width: 80%;
  }

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact div{
    padding-right: 90px;
  }

/* ============================================================================
  FAQ
  ===========================================================================*/
  .faq .content-wrapper{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 80%;
    justify-content: space-between;
  }

  .faq h4{
    font-size: 0.875em;
    width: 100%;
  }

  .faq-content{
    display: flex;
    flex-flow: row wrap;
    width: 45%;
  }
}

@media all and (min-width: 1200px){
  /** DESKTOP STYLES **/

/*=============================================================================
BASE Styles
=============================================================================*/

  header .content-wrapper{
    display: flex;
    justify-content: space-between;
    flex-basis: 85%;
    margin: 0 120px 0 120px;
  }

  header nav{
    display: flex;
    justify-content: flex-end;
  }

  h3,h4{
    font-size: 1.875em;
  }

  p{
    font-size: 1.125em;
    line-height: 24px;
  }

/* Hero Area */

  .hero-area h1{
    font-size: 3.75em;
    width: 60%;
    margin-top: 50px;
  }

  .hero-area{
    background: url(../img/hero-image-jake-melara-30679-unsplash-desktop.jpg) center no-repeat #333;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

/*Aside */

  aside{
    display: flex;
    justify-content: center;
    padding: 0;
  }

  aside .content-wrapper {
    flex-basis: 80%;
    margin: 43px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    padding-left: 45px;
  }

/* Features */

  .features h2{
    padding-top: 75px;
  }

  .features article{
    display: flex;
    flex-basis: 25%;
    padding: 35px 25px 25px 35px
  }

  .features .features-items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

/* Reviews */

.reviews article{
  align-items: flex-start;
}

.reviews article div{
  margin-right: 40px;
}

.reviews h2{
  margin-bottom: 90px;
}

/* Footer */

  footer .footer-content h4{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer .copyright{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  footer .social h4{
    margin-top: 0;
  }

/*=============================================================================
ABOUT page
==============================================================================*/

  .mission h2{
    font-size: 3em;
  }

  .contact-section h2{
    font-size: 3em;
  }

  .contact-section .contact div{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
  }

  .contact-section .contact div h3{
    width: 100%;
  }

/*==============================================================================
FAQ page
==============================================================================*/

  .faq .content-wrapper{
    display: flex;
    justify-content: flex-start;
  }

  .faq-content{
    margin-right: 44px;
  }

  .faq h2{
    display: flex;
    flex-basis: 100%;
    font-size: 3em;
    justify-content: flex-start;
    padding: 0px;
  }

  .faq h4{
    font-size: 1.125em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
